@model KavaDocsUserManager.Web.Views.Repositories.RepositoriesListViewModel

@{
    ViewData["Title"] = "My Repositories";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var appUser = User.GetAppUser(); 
}

@section Headers
{
    <style>
        .repository-list-item-title {
            font-size: 1.1em;
            font-weight: 600;
            display: block;
            margin-bottom: 5px;
        }
    </style>
}


<div class="content-container ">

   
    <a href="@Url.Content("/repositories/new")" 
       style="margin-top: 25px;"
       class="btn btn-success float-right">
        <i class="fas fa-plus-circle"></i>
        &nbsp;New Repository
    </a>

    <h1 class="page-header-text">
        <i class="far fa-archive"></i>
        My Repositories
    </h1>
    
   

    @if (Model.Repositories.Count < 1)
    {
        <div class="alert alert-info" style="margin: 0 10%;">
            You don't have any repositories yet. Ready to create one? Click here: &nbsp;&nbsp;

            <a href="@Url.Action("Repository")" class="btn btn-success">
                <i class="far fa-check-circle"></i>
                &nbsp;New Repository
            </a>

        </div>
    }
    else
    {

        <div class="list indented" >
            <div href="#" class="list-header">
                <i class="far fa-archive"></i>
                Repositories
            </div>

            @foreach (var repo in Model.Repositories)
            {
                var domain = repo.Prefix + "." + repo.Domain;

                <div class="repository-list-item list-item hover" onclick="location='@Url.Content($"~/Repository/{repo.Id}")'">
                    
                    <div class="float-right right-align">
                        <b>@repo.Prefix</b><br/>
                        @if (repo.IsOwner(appUser.UserId))
                        {
                            <small>Owner</small>
                        }
                    </div>
                    
                    <a href="@Url.Content($"~/repository/{repo.Id}")"
                       class="repository-list-item-title">@repo.Title</a>
                    <div class="repository-list-item-content">@repo.Description</div>

                    <div class="font-weight-normal">
                        <i class="far fa-external-link-alt"></i>
                        <a class="font-weight-normal" href="http://@(domain)">@domain</a>
                    </div>
                </div>
            }

        </div>
    }
</div>