@using Westwind.AspNetCore.Services
@model AppBaseViewModel
@{
    var appUser = Context.User.GetAppUser();

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kava Docs</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/application.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/application.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    
<nav class="navbar-top">    
    <div class="navbar-header pull-left" 
         style="cursor: pointer" aria-controls="button"
         onclick="window.location = '@Url.Content("~/")'">
        <img src="~/images/KavaDocsHeaderLogo.png" class="navbar-icon"/>
    </div>

    <div class="navbar-links pull-right">
        
    <div class="btn-group" role="group" >
        @if (!appUser.IsAuthenticated())
        {


            <a href="@Url.Action("Login", "Account")" class="btn btn-default">
                <i class="fa fa-unlock"></i>
                Sign in
            </a>
            <a href="@Url.Action("Login", "Profile")" class="btn btn-default">
                <i class="fa fa-unlock"></i>
                Sign up
            </a>
        }
        else
        {

            <a href="@Url.Action("Index", "Repositories")" class="btn btn-default">
                <i class="fa fa-list-alt"></i>
                Repositories
            </a>


            <button id="btnProfileDropDown" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="@Gravatar.GetGravatarLink(appUser.Username, 23)"/>
                @appUser.Username
            </button>
            <div class="dropdown-menu" aria-labelledby="btnProfileDropDown">
                <a href="@Url.Action("Profile", "Account")"
                   class="dropdown-item">
                    Your Profile
                </a>
                <a href="@Url.Action("Logout", "Account")"
                   class="dropdown-item">
                    Sign out
                </a>

            
            </div>
        }
    </div>
    </div>

        <div class="clearfix"></div>
</nav>    

<div class="body-content">
    @RenderBody()    
</div>


<footer>
    <p>&copy; DocHound, Inc, 2018</p>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous">
    </script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
